{% extends "dynamicwebsite/basic.html" %}

{% block content %}
    <div class="productcontent">    
    <h1>Our Premium Products</h1>
    <div class="productitems">
        {% for i in products%}
        <div class="productitem"> 
            <div class="itemimage">
            <img src="{{i.product_img.url}}" alt="product image">
            </div>
            <div class="itemname">{{i.product_name}}</div>
            <div class="itemprice">Price:{{i.product_price}}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}